<html>
    <body>
        <p>
            Hello, </br></br>
            
            Please note that on <font color="red"><b>{{execution_time}}</b></font> 
            at 3:00 AM Belgium time, we will reset the "<b>DAILY_EXPORT</b>" 
            flag to "<b>NO</b>" on all regional projects. </br></br>
            
            <font color="red"><b>Do not make modifications to the database 
            after the specified time.</b></font></br></br>
            
            A confirmation email will be sent at the end of the procedure to 
            announce when it is allowed to make modifications again. </br>
            If the email is not received by 8:00 AM Belgium time, consider it 
            safe to modify. </br></br>
            
            Regards, </br>
            OSS Team
        </p>
    </body>
</html>
